.about_container {
    background-color: #000000;
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  
  .about_title {
    font-size: 32px;
    margin-bottom: 40px;
    margin-left: 50px;
    color: #ff6b00;
  }
  
  .about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .about_image {
    flex: 1;
    max-width: 300px;
    
  }
  
  .about_profile_img {
    width: 100%;
    border-radius: 50px;
  }
  
  .about_text {
    flex: 2;
    max-width: 600px;
    text-align: left;
    color: #ccc;
    margin-left: 210px;
  }
  
  .download_btn {
    all: unset; /* optional, removes default styles */
  }
 
  .download_cv {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
  }
  
  .download_cv:hover {
    background-color: #e65c00;
  }
  